.info-box {
  padding-top: .75rem;
  border-top: 1px dotted #e5e5e5;
}
.info-list {
  margin-top: 1rem;
  padding: 0;
  font-size: .8rem;
  list-style: none;
}

.info-img {
  max-width: 90%;
  max-height: 5rem;
}

.info-open {
  font-weight: bold;
}
