.listContainer {
  position: absolute;
  top: 10%;
  left: 0;
  width: 25%;
  min-width: 150px;
  height: 80%;
  background-color: rgba(255, 255, 255, .8);
  border-top-right-radius: .75rem;
  border-bottom-right-radius: .75rem;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
