.list-item {
  padding: 0 .5rem .5rem;
  max-width: 95%;
  cursor: pointer;
}

.list-item:nth-child(odd) {
  background-color: #f2f1ef;
}

.list-item:hover,
.list-item.clicked {
  background-color: #f5d76e;
}

.list

.list-header {
  margin: 0 0 .4rem 0;
  padding-top: .4rem;
}
